body {
  margin-left: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title_logo img {
  width: 50px;
  margin-right: 10px;
  padding-bottom: 15px;
}



.token_box {
  width: 300px;
  border: 2px solid darkgrey;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.token_box img {
  width: 100%;
}

.token_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details_box {
  max-width: 512px;
}

.img_container {
  align-self: flex-start;
  margin-bottom: 25px;
}

.img_container img {
  max-width: 512px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}
